<main class="h-screen bg-slate-100">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-10">
      <div class="header p-5 flex justify-center items-center">
        <h2 class="font-inter font-bold text-2xl text-neutral-900">
          Dynamic Table (DTable)
        </h2>
      </div>

      <div class="body">
        <!-- Dynamic table component -->
        <dtable
          [data]="data"
          [headerComponent]="customTableHeader"
          [bodyComponent]="customTableBody"
        />

        <!-- Custom template -->
        <ng-template #customTableHeader>
          <tr class="bg-stone-800 text-white text-center">
            <th class="w-2/6 p-2">Id</th>
            <th class="p-2">Name</th>
            <th class="p-2">Age</th>
            <th class="p-2">Gender</th>
            <th class="p-2 w-[200px]">Action</th>
          </tr>
        </ng-template>

        <ng-template #customTableBody let-data>
          @for (item of data; track item.id) {
          <tr class="odd:bg-slate-200 text-center">
            <td class="p-2">{{ item.id }}</td>
            <td class="p-2">{{ item.name }}</td>
            <td class="p-2">{{ item.age }}</td>
            <td class="p-2">{{ item.gender }}</td>
            <td class="p-2"></td>
          </tr>
          } @empty {
          <tr class="text-center">
            <td colspan="5" class="p-2 border border-neutral-500">
              No data found
            </td>
          </tr>
          }
        </ng-template>
      </div>
    </div>
  </div>
</main>
